body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.confirm-button-container {
    flex-grow: 1;
}

.preset-buttons-container {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#outputText {
    margin-top: 10px;
}
